body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin-top: 4px;
}

.customer_section {
  background-color: #c6f2f9;
}

.pt-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pl {
  padding-left: 6rem;
}

.row {
  padding: 0px 96px;
  display: flex;
  flex-direction: row;
}

.col-4 {
  width: 33.3%;
}

.box {
  background-color: white;
  margin: 30px;
  border-radius: 5px;
  padding: 30px;
}

.profile_section {
  display: flex;
}

.profile_img {
  width: 25%;
  border-radius: 25px;
}

.name_section {
  height: 25%;
  display: block;
  margin-left: 10px;
  line-height: 0px;
}

.username {
  font-weight: 330;
  line-height: 0.2;
  font-size: 20px;
}

h4 {
  font-weight: lighter;
  font-size: smaller;
}

.icon {
  width: 30px;
  height: 30px;
  margin: auto 0px auto auto;
}

.tweet_section {
  /* margin: 0px 15px 0px 30px; */
  padding: 30px 0px;
  /* text-align: left; */
  font-size: 14.5px;
  font-weight: 200;
}

.footer_section {
  display: flex;
  justify-content: space-between;
}

.love_icon {
  width: 37px;
  height: 37px;
  /* margin-left: 25px; */
}

p {
  font-size: 13px;
}

.date_section {
  margin-left: auto;
  /* margin-right: 40px; */
}

.box_price {
  display: block;
  width: 40%;
  align-items: center;
  margin: auto;
  margin-top: 48px;
}

.header_section {
  display: block;
  text-align: center;
}

h1 {
  font-weight: normal;
}

.bigger {
  font-size: larger;
}

.lighter {
  font-weight: 100;
}

.color {
  background-color: #ddd4ca;
  border: 1px solid rgb(232, 186, 134);
  margin: auto;
  padding: 25px;
}

.amout_section {
  display: block;
  line-height: 30px;
}

.big {
  font-size: 70px;
}

.good_section {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.good_icon {
  width: 20px;
  height: 20px;
}

h6 {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  width: 100%;
}

.button {
  display: flex;
  border-style: none;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #3498db;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.icon_btn {
  width: 30px;
  height: 30px;
  /* margin-right: 15px; */
}

button:hover {
  cursor: pointer;
}

.btn_text {
  color: white;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
  /* margin-left: 10px; */
}

hr {
  margin: 20px 0px;
}
